<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.members.dao.MembersDao">
	<insert id="insertNewMembers" parameterType="com.ktdsuniversity.edu.members.vo.request.WriteVO">
        INSERT INTO MEMBERS
	   (EMAIL
	  , NAME
	  , PASSWORD
	  , SALT
	  , REGIST_DATE
	  , LATEST_PASSWORD_CHANGE_DATE
	  , LOGIN_FAIL_COUNT)
	  VALUES
	   (#{email}
	  , #{name}
	  , #{password}
	  , #{salt}
	  , SYSDATE
	  , SYSDATE
	  , 0)
	</insert>
	
	<select id="selectMemberByUserEmail" resultType="com.ktdsuniversity.edu.members.vo.MembersVO">
	   SELECT EMAIL
	        , NAME
	        , PASSWORD
	        , SALT
	        , REGIST_DATE
			, MODIFY_DATE
			, LATEST_PASSWORD_CHANGE_DATE
			, LOGIN_DATE
			, LATEST_LOGIN_IP
			, LOGIN_FAIL_COUNT
			, LATEST_LOGIN_FAIL_DATE
			, BLOCK_YN
	     FROM MEMBERS
	    WHERE EMAIL = #{email}
	</select>
	
	<update id="updateMemberByUserEmail"
	        parameterType="com.ktdsuniversity.edu.members.vo.MembersVO">
	 UPDATE MEMBERS
	    SET EMAIL = #{email}
	      , NAME = #{name}
	      , PASSWORD = #{password}
	  WHERE EMAIL = #{email}
	</update>
	
	<delete id="deleteMemberByUserEmail"
	        parameterType="string">
	 DELETE
	   FROM MEMBERS
	  WHERE EMAIL = #{_parameter}
	</delete>
	
	<select id="selectMemberCount"
	        resultType="_int">
	 SELECT COUNT(EMAIL)
	   FROM MEMBERS        
	</select>
	
	<select id="selectMemberList"
	        resultType="com.ktdsuniversity.edu.members.vo.MembersVO">
	 SELECT EMAIL
	      , NAME
	      , PASSWORD
	   FROM MEMBERS
	</select>
	
	<update id="updateIncreaseLoginFailCount"
	        parameterType="string">
	 UPDATE MEMBERS
	    SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
	      , LATEST_LOGIN_FAIL_DATE = SYSDATE
	  WHERE EMAIL= #{_parameter}
	</update>

    <update id="updateBlock"
            parameterType="string">
     UPDATE MEMBERS
        SET BLOCK_YN = 'Y'
      WHERE EMAIL=#{_parameter}
        AND LOGIN_FAIL_COUNT >= 5
    </update>

	<update id="updateSuccessLogin"
	        parameterType="com.ktdsuniversity.edu.members.vo.request.LoginVO">
	 UPDATE MEMBERS
	    SET LOGIN_FAIL_COUNT = 0
	      , LATEST_LOGIN_IP = #{ip}
	      , LOGIN_DATE = SYSDATE
	      , BLOCK_YN = 'N'
	  WHERE EMAIL = #{email}
    </update>
</mapper>