* {
  box-sizing: border-box;
}

body {
  background-color: rgb(192, 200, 238);
}

.poster {
  margin-right: 2rem;
}

.poster img {
  width: 15rem;
  height: auto;

  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.moviesInfo {
  display: flex;
  border-bottom: 1px solid #8e2c2c;
  margin-bottom: 20px;
  padding: 10px;
}

.movieItem {
  background-color: #cb9fc9;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 0.4rem;

  width: 40rem;

  display: -webkit-box;
  -webkit-line-clamp: 1; /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;

  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* 끝에 '...' 표시 */
}
