@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(192, 200, 238);
  max-width: 60rem;
  margin-left: 30rem;
}

div.validation-ok {
  color: #ff0;
  font-weight: 600;
  font-size: 0.85rem;
  margin-top: 0.3rem;
  padding: 0.425rem;
  background-color: #f004;
}

div.validation-error {
  color: #f00;
  font-weight: 600;
  font-size: 0.85rem;
  margin-top: 0.3rem;
  padding: 0.425rem;
  background-color: #f004;
}

div.input-div {
  width: 20rem;
}

/* grid style 시작 */
div.grid {
  display: grid;
}

div.grid input,
div.grid textarea {
  background-color: #cb9fc9;
}

div.grid > div.btn-group {
  grid-column: 1 / -1;
}

div.grid > div.btn-group > div.right-align {
  text-align: right;
}

div.grid > label {
  padding-left: 0.625rem;
}

div.grid input,
div.grid button,
div.grid textarea {
  padding: 0.625rem;
  max-width: 200px;
}
/* grid style 끝 */

/* 글쓰기 page style 시작 */
div.write {
  grid-template-columns: 5rem 1fr 5rem 1fr;
  grid-template-rows: repeat(1.75rem);
  row-gap: 0.625rem;
}
